<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blingcle.common.found.mapper.BadgeMapper">
  <resultMap id="BaseResultMap" type="com.blingcle.common.found.pojo.Badge">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="badgename" jdbcType="VARCHAR" property="badgename" />
    <result column="pathway" jdbcType="VARCHAR" property="pathway" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="function" jdbcType="VARCHAR" property="function" />
    <result column="illustrate" jdbcType="VARCHAR" property="illustrate" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="isvalid" jdbcType="BIT" property="isvalid" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="updateby" jdbcType="VARCHAR" property="updateby" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="modificy" jdbcType="VARCHAR" property="modificy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, badgename, pathway, type, function, illustrate, createtime, isvalid, createby, 
    version, updateby, updatetime, modificy
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_badge_tc
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from b_badge_tc
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blingcle.common.found.pojo.Badge">
    insert into b_badge_tc (id, badgename, pathway, 
      type, function, illustrate, 
      createtime, isvalid, createby, 
      version, updateby, updatetime, 
      modificy)
    values (#{id,jdbcType=BIGINT}, #{badgename,jdbcType=VARCHAR}, #{pathway,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{function,jdbcType=VARCHAR}, #{illustrate,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{isvalid,jdbcType=BIT}, #{createby,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{updateby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{modificy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blingcle.common.found.pojo.Badge">
    insert into b_badge_tc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="badgename != null">
        badgename,
      </if>
      <if test="pathway != null">
        pathway,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="function != null">
        function,
      </if>
      <if test="illustrate != null">
        illustrate,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="isvalid != null">
        isvalid,
      </if>
      <if test="createby != null">
        createby,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="updateby != null">
        updateby,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="modificy != null">
        modificy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="badgename != null">
        #{badgename,jdbcType=VARCHAR},
      </if>
      <if test="pathway != null">
        #{pathway,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="function != null">
        #{function,jdbcType=VARCHAR},
      </if>
      <if test="illustrate != null">
        #{illustrate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=BIT},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="updateby != null">
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modificy != null">
        #{modificy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blingcle.common.found.pojo.Badge">
    update b_badge_tc
    <set>
      <if test="badgename != null">
        badgename = #{badgename,jdbcType=VARCHAR},
      </if>
      <if test="pathway != null">
        pathway = #{pathway,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="function != null">
        function = #{function,jdbcType=VARCHAR},
      </if>
      <if test="illustrate != null">
        illustrate = #{illustrate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isvalid != null">
        isvalid = #{isvalid,jdbcType=BIT},
      </if>
      <if test="createby != null">
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="updateby != null">
        updateby = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="modificy != null">
        modificy = #{modificy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blingcle.common.found.pojo.Badge">
    update b_badge_tc
    set badgename = #{badgename,jdbcType=VARCHAR},
      pathway = #{pathway,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      function = #{function,jdbcType=VARCHAR},
      illustrate = #{illustrate,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      isvalid = #{isvalid,jdbcType=BIT},
      createby = #{createby,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      updateby = #{updateby,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      modificy = #{modificy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>