<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blingcle.common.found.mapper.RegionMapper">
  <resultMap id="BaseResultMap" type="com.blingcle.common.found.pojo.Region">
  <id column="id" jdbcType="INTEGER" property="id" />
  <result column="level" jdbcType="TINYINT" property="level" />
  <result column="parent_id" jdbcType="INTEGER" property="parentId" />
</resultMap>

  <resultMap id="ResultMap" type="com.blingcle.common.found.vo.RegionVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.blingcle.common.found.pojo.Region">
    <result column="name" jdbcType="LONGVARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, level, parent_id
  </sql>
  <sql id="Blob_Column_List">
    name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_region
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_region
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blingcle.common.found.pojo.Region">
    insert into b_region (id, level, parent_id, 
      name)
    values (#{id,jdbcType=INTEGER}, #{level,jdbcType=TINYINT}, #{parentId,jdbcType=INTEGER}, 
      #{name,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blingcle.common.found.pojo.Region">
    insert into b_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blingcle.common.found.pojo.Region">
    update b_region
    <set>
      <if test="level != null">
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.blingcle.common.found.pojo.Region">
    update b_region
    set level = #{level,jdbcType=TINYINT},
      parent_id = #{parentId,jdbcType=INTEGER},
      name = #{name,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blingcle.common.found.pojo.Region">
    update b_region
    set level = #{level,jdbcType=TINYINT},
      parent_id = #{parentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryrRegion" parameterType="java.lang.Integer" resultMap="ResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_region
    where parent_id = #{id,jdbcType=INTEGER}
  </select>

</mapper>