<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blingcle.common.found.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.blingcle.common.found.vo.UserVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="lastupdate" jdbcType="TIMESTAMP" property="lastupdate"/>
        <result column="isrealname" jdbcType="BIT" property="isrealname"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="createdate" jdbcType="TIMESTAMP" property="createdate"/>
        <result column="loginname" jdbcType="VARCHAR" property="loginname"/>
        <result column="fristlogintime" jdbcType="TIMESTAMP" property="fristlogintime"/>
        <result column="lastlogintime" jdbcType="TIMESTAMP" property="lastlogintime"/>
        <result column="lastloginfacility" jdbcType="VARCHAR" property="lastloginfacility"/>
        <result column="isprime" jdbcType="BIT" property="isprime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="updateby" jdbcType="VARCHAR" property="updateby"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="modificy" jdbcType="VARCHAR" property="modificy"/>
        <result column="isvalid" jdbcType="BIT" property="isvalid"/>
        <result column="invitecode" jdbcType="VARCHAR" property="invitecode"/>
        <result column="registerinvitecode" jdbcType="VARCHAR" property="registerinvitecode"/>
    </resultMap>

    <resultMap id="BaseResult" type="com.blingcle.common.found.vo.UserVo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="lastupdate" jdbcType="TIMESTAMP" property="lastupdate"/>
        <result column="isrealname" jdbcType="BIT" property="isrealname"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createDate" jdbcType="TIMESTAMP" property="createdate"/>
        <result column="loginname" jdbcType="VARCHAR" property="loginname"/>
        <result column="fristlogintime" jdbcType="TIMESTAMP" property="fristlogintime"/>
        <result column="lastlogintime" jdbcType="TIMESTAMP" property="lastlogintime"/>
        <result column="lastloginfacility" jdbcType="VARCHAR" property="lastloginfacility"/>
        <result column="isprime" jdbcType="BIT" property="isprime"/>
        <collection property="userdetail" ofType="com.blingcle.common.found.pojo.Userdetail">
            <id column="userid" jdbcType="BIGINT" property="userid"/>
            <result column="sex" jdbcType="BIT" property="sex"/>
            <result column="signature" jdbcType="VARCHAR" property="signature"/>
            <result column="age" jdbcType="INTEGER" property="age"/>
            <result column="constellation" jdbcType="VARCHAR" property="constellation"/>
            <result column="provinces" jdbcType="VARCHAR" property="provinces"/>
            <result column="cities" jdbcType="VARCHAR" property="cities"/>
            <result column="county" jdbcType="VARCHAR" property="county"/>
            <result column="town" jdbcType="VARCHAR" property="town"/>
            <result column="adderss" jdbcType="VARCHAR" property="adderss"/>
            <result column="level" jdbcType="VARCHAR" property="level"/>
            <result column="headportrait" jdbcType="VARCHAR" property="headportrait"/>
            <result column="identity" jdbcType="VARCHAR" property="identity"/>
            <result column="integral" jdbcType="INTEGER" property="integral"/>
            <result column="pictureframe" jdbcType="VARCHAR" property="pictureframe"/>
            <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
            <result column="realname" jdbcType="VARCHAR" property="realname"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, phone, lastupdate, isrealname, type, createdate, loginname, fristlogintime,
    lastlogintime, lastloginfacility, isprime, version, status, updateby, updatetime, 
    modificy, isvalid, invitecode, registerinvitecode
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from b_user_tc
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from b_user_tc
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.blingcle.common.found.vo.UserVo" useGeneratedKeys="true" keyProperty="id">
    insert into b_user_tc (id, name, password, 
      phone, lastupdate, isrealname, 
      type, createdate, loginname, 
      fristlogintime, lastlogintime, lastloginfacility, 
      isprime, version, status, 
      updateby, updatetime, modificy, 
      isvalid, invitecode, registerinvitecode
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{lastupdate,jdbcType=TIMESTAMP}, #{isrealname,jdbcType=BIT}, 
      #{type,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{loginname,jdbcType=VARCHAR}, 
      #{fristlogintime,jdbcType=TIMESTAMP}, #{lastlogintime,jdbcType=TIMESTAMP}, #{lastloginfacility,jdbcType=VARCHAR}, 
      #{isprime,jdbcType=BIT}, #{version,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{updateby,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP}, #{modificy,jdbcType=VARCHAR}, 
      #{isvalid,jdbcType=BIT}, #{invitecode,jdbcType=VARCHAR}, #{registerinvitecode,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.blingcle.common.found.pojo.User">
        insert into b_user_tc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="lastupdate != null">
                lastupdate,
            </if>
            <if test="isrealname != null">
                isrealname,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="createdate != null">
                createdate,
            </if>
            <if test="loginname != null">
                loginname,
            </if>
            <if test="fristlogintime != null">
                fristlogintime,
            </if>
            <if test="lastlogintime != null">
                lastlogintime,
            </if>
            <if test="lastloginfacility != null">
                lastloginfacility,
            </if>
            <if test="isprime != null">
                isprime,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="updateby != null">
                updateby,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="modificy != null">
                modificy,
            </if>
            <if test="isvalid != null">
                isvalid,
            </if>
            <if test="invitecode != null">
                invitecode,
            </if>
            <if test="registerinvitecode != null">
                registerinvitecode,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="lastupdate != null">
                #{lastupdate,jdbcType=TIMESTAMP},
            </if>
            <if test="isrealname != null">
                #{isrealname,jdbcType=BIT},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="createdate != null">
                #{createdate,jdbcType=TIMESTAMP},
            </if>
            <if test="loginname != null">
                #{loginname,jdbcType=VARCHAR},
            </if>
            <if test="fristlogintime != null">
                #{fristlogintime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastlogintime != null">
                #{lastlogintime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastloginfacility != null">
                #{lastloginfacility,jdbcType=VARCHAR},
            </if>
            <if test="isprime != null">
                #{isprime,jdbcType=BIT},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="updateby != null">
                #{updateby,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="modificy != null">
                #{modificy,jdbcType=VARCHAR},
            </if>
            <if test="isvalid != null">
                #{isvalid,jdbcType=BIT},
            </if>
            <if test="invitecode != null">
                #{invitecode,jdbcType=VARCHAR},
            </if>
            <if test="registerinvitecode != null">
                #{registerinvitecode,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.blingcle.common.found.pojo.User">
        update b_user_tc
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="lastupdate != null">
                lastupdate = #{lastupdate,jdbcType=TIMESTAMP},
            </if>
            <if test="isrealname != null">
                isrealname = #{isrealname,jdbcType=BIT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="createdate != null">
                createdate = #{createdate,jdbcType=TIMESTAMP},
            </if>
            <if test="loginname != null">
                loginname = #{loginname,jdbcType=VARCHAR},
            </if>
            <if test="fristlogintime != null">
                fristlogintime = #{fristlogintime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastlogintime != null">
                lastlogintime = #{lastlogintime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastloginfacility != null">
                lastloginfacility = #{lastloginfacility,jdbcType=VARCHAR},
            </if>
            <if test="isprime != null">
                isprime = #{isprime,jdbcType=BIT},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="updateby != null">
                updateby = #{updateby,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="modificy != null">
                modificy = #{modificy,jdbcType=VARCHAR},
            </if>
            <if test="isvalid != null">
                isvalid = #{isvalid,jdbcType=BIT},
            </if>
            <if test="invitecode != null">
                invitecode = #{invitecode,jdbcType=VARCHAR},
            </if>
            <if test="registerinvitecode != null">
                registerinvitecode = #{registerinvitecode,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.blingcle.common.found.vo.UserVo">
    update b_user_tc
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      lastupdate = #{lastupdate,jdbcType=TIMESTAMP},
      isrealname = #{isrealname,jdbcType=BIT},
      type = #{type,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      loginname = #{loginname,jdbcType=VARCHAR},
      fristlogintime = #{fristlogintime,jdbcType=TIMESTAMP},
      lastlogintime = #{lastlogintime,jdbcType=TIMESTAMP},
      lastloginfacility = #{lastloginfacility,jdbcType=VARCHAR},
      isprime = #{isprime,jdbcType=BIT},
      version = #{version,jdbcType=INTEGER}+1,
      status = #{status,jdbcType=INTEGER},
      updateby = #{updateby,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      modificy = #{modificy,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=BIT},
      invitecode = #{invitecode,jdbcType=VARCHAR},
      registerinvitecode = #{registerinvitecode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findbyphone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from b_user_tc
        where phone = #{phone,jdbcType=VARCHAR}
    </select>

    <select id="findbyloginname" parameterType="com.blingcle.common.found.vo.UserVo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from b_user_tc
        where loginname = #{loginname,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </select>
    <select id="findAttention" parameterType="java.lang.Long" resultMap="BaseResult">
    SELECT
u.id,
	u.NAME,
	u.phone,
	u.lastupdate,
	u.isrealname,
	u.type,
	u.createdate,
	u.loginname,
	u.fristlogintime,
	u.lastlogintime,
	u.lastloginfacility,
	u.isprime,
	u.version,
	u.STATUS,
	u.updateby,
	u.updatetime,
	u.modificy,
	u.isvalid,
	u.invitecode,
	u.registerinvitecode,
	d.userid,
	d.sex,
	d.signature,
	d.age,
	d.constellation,
	d.provinces,
	d.cities,
	d.county,
	d.town,
	d.adderss,
	d.LEVEL,
	d.headportrait,
	d.identity,
	d.integral,
	d.pictureframe,
	d.birthday,
	d.realname,
	d.updatetime,
	d.version,
	d.updateby
FROM
	b_userfriend_td f
LEFT JOIN b_user_tc u ON f.userid = u.id
LEFT JOIN b_userdetail_tc d ON f.userid = d.userid
WHERE
	f.userid = #{id,jdbcType=BIGINT}

    </select>

    <select id="findFans" parameterType="java.lang.Long" resultMap="BaseResult">
      SELECT
	u.id,
	u.NAME,
	u.phone,
	u.lastupdate,
	u.isrealname,
	u.type,
	u.createdate,
	u.loginname,
	u.fristlogintime,
	u.lastlogintime,
	u.lastloginfacility,
	u.isprime,
	u.version,
	u.STATUS,
	u.updateby,
	u.updatetime,
	u.modificy,
	u.isvalid,
	u.invitecode,
	u.registerinvitecode,
	d.userid,
	d.sex,
	d.signature,
	d.age,
	d.constellation,
	d.provinces,
	d.cities,
	d.county,
	d.town,
	d.adderss,
	d.LEVEL,
	d.headportrait,
	d.identity,
	d.integral,
	d.pictureframe,
	d.birthday,
	d.realname,
	d.updatetime,
	d.version,
	d.updateby
FROM
	b_userfriend_td f
LEFT JOIN b_user_tc u ON f.userid = u.id
LEFT JOIN b_userdetail_tc d ON f.userid = d.userid
WHERE
	f.fansid =#{id,jdbcType=BIGINT}

    </select>

    <select id="queryBuserDatail" parameterType="java.lang.Long" resultMap="BaseResult">
     SELECT
	u.id,
	u.NAME,
	u.phone,
	u.lastupdate,
	u.isrealname,
	u.type,
	u.createdate,
	u.loginname,
	u.fristlogintime,
	u.lastlogintime,
	u.lastloginfacility,
	u.isprime,
	u.version,
	u.STATUS,
	u.updateby,
	u.updatetime,
	u.modificy,
	u.isvalid,
	u.invitecode,
	u.registerinvitecode,
	d.userid,
	d.sex,
	d.signature,
	d.age,
	d.constellation,
	d.provinces,
	d.cities,
	d.county,
	d.town,
	d.adderss,
	d. LEVEL,
	d.headportrait,
	d.identity,
	d.integral,
	d.pictureframe,
	d.birthday,
	d.realname,
	d.updatetime,
	d.version,
	d.updateby
FROM
	b_user_tc u
LEFT JOIN b_userdetail_tc d ON u.id = d.userid
WHERE
	id= #{id,jdbcType=BIGINT}
    </select>
</mapper>